appscript==1.1.1
attrs==19.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
colour==0.1.5
configparser==5.0.1
crayons==0.4.0
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
Jinja2==2.11.3
jsonschema==3.2.0
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.19.0
openpyxl==3.0.2
pandas==1.0.5
psutil==5.7.2
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2
styleframe==3.0.2
urllib3==1.26.3
webdriver-manager==3.3.0
xlrd==1.2.0
XlsxWriter==1.2.9
xvfbwrapper==0.2.9
