# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r crawler/requirements.txt; fi
    - name: Run Crawler with python
      run: |
        python "crawler/crawler.py"
    - name: Commits
      run: |
        git config --local user.email "kzerodong@gmail.com"
        git config --local user.name "kzerodong"
        git add *
        git commit -m "Auto - Update data with crawling"
    - name: Push
      uses: ad-m/github-push-action@main
      with:
        branch: 'main'
        github_token: $
